<ion-view title="Flash Cards" id="page2">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-flash"> Add Questions</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="flashCards-list-item-container3">

      <ion-list id="flashCards-list7">
        <ion-item id="q1">Question 1
          <ion-option-button class="button-calm">answer</ion-option-button>
        </ion-item>
        <ion-item id="a1">Answer
          <ion-option-button class="button-balanced">Hide</ion-option-button>
        </ion-item>
      </ion-list>
    </div>

    <div class="item item-body" id="flashCards-list-item-container4">
      <ion-list id="flashCards-list8">
        <ion-item id="q2">Question 1
          <ion-option-button class="button-calm">answer</ion-option-button>
        </ion-item>
        <ion-item id="a2">Answer
          <ion-option-button class="button-balanced">Hide</ion-option-button>
        </ion-item>
      </ion-list>
    </div>

    <div class="item item-body" id="flashCards-list-item-container5">
      <ion-list id="flashCards-list9">
        <ion-item id="q3">Question 1
          <ion-option-button class="button-calm">answer</ion-option-button>
        </ion-item>
        <ion-item id="a3">Answer
          <ion-option-button class="button-balanced">Hide</ion-option-button>
        </ion-item>
      </ion-list>
    </div>

    <div class="item item-body" id="flashCards-list-item-container6">
      <ion-list id="flashCards-list10">
        <ion-item id="q4">Question 1
          <ion-option-button class="button-calm">answer</ion-option-button>
        </ion-item>
        <ion-item id="a4">Answer
          <ion-option-button class="button-balanced">Hide</ion-option-button>
        </ion-item>
      </ion-list>
    </div>
    
  </ion-content>
</ion-view>