<ion-view title="Graph" id="page1">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-arrow-graph-up-right"> graph!</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
  <form id="form">
  <label for="eq">Enter an equation:</label>
  <input type="text" id="eq" value="4 * sin(x) + 5 * cos(x/2)" />
  <input type="submit" value="Draw" class="button button-positive  button-block" />
</form>

<div id="plot"></div>
  </ion-content>
</ion-view>