<ion-view title="Graph" id="page1">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-arrow-graph-up-right"> graph!</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="graph-form3" class="list">
      <label class="item item-input" id="graph-input9" name="equation">
        <span class="input-label">Equation</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>