<ion-view title="quiz creator" id="page6">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-list"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="quizCreator-form5" class="list">
      <label class="item item-select" id="quizCreator-select3" name="quizSelector">
        <span class="input-label">Quiz</span>
        <select>
          <option>New Quiz</option>
          <option>Old Quiz</option>
        </select>
      </label>
      <label class="item item-input" id="quizCreator-input20" name="quizName">
        <span class="input-label">Quiz Name</span>
        <input type="text" placeholder="quiz1">
      </label>
      <label class="item item-input" id="quizCreator-input16" name="question">
        <span class="input-label">Question</span>
        <input type="text" placeholder="what is life?">
      </label>
      <label class="item item-input" id="quizCreator-input17" name="answer">
        <span class="input-label">Answer</span>
        <input type="text" placeholder="42">
      </label>
    </form>
    <button id="quizCreator-button5" class="button button-positive  button-block">Add Question</button>
  </ion-content>
</ion-view>