<ion-view title="Settings" id="page3">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-list"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="settings-form4" class="list">
      <ion-list id="settings-list5">
        <label class="item item-input" id="settings-input10" name="firstName">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="first Name">
        </label>
        <label class="item item-input" id="settings-input11" name="lastName">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Last Name">
        </label>
        <label class="item item-input" id="settings-input12" name="age">
          <span class="input-label">Age</span>
          <input type="number" placeholder="20">
        </label>
        <label class="item item-input" id="settings-input13" name="country">
          <span class="input-label">Country</span>
          <input type="number" placeholder="Canada">
        </label>
        <label class="item item-select" id="settings-select2" name="educationList">
          <span class="input-label">Education</span>
          <select>
            <option>Elementary</option>
            <option>High School</option>
            <option>Some Post Secondary</option>
            <option>Post Secondary</option>
          </select>
        </label>
        <label class="item item-input" id="settings-input14">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="settings-input15">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="settings-button4" class="button button-stable  button-block">Update Info</button>
    </form>
  </ion-content>
</ion-view>